body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}


.profilebody {
box-sizing: border-box;
background-image: url(../img/crumple.jpg);
background-size: cover;
} 

.well {
  display: none;
  width: 0%;
}

.entries{
  width: 100%;
}

.message{
  width: 100%;
}

